/*--------------banner*/
#banner{
	 background-image: linear-gradient(to right,rgba(165,23,186,0.7),rgba(83,5,102,0.9)),url('opa.jpg');
	
 	background-repeat: no-repeat;
 	background-size: 100% 100%;
 	position: relative;
 	clip-path: polygon(100% 0%,100% 87%,50% 100%,0 87%,0 0);
 	color: #fff;
 	padding-top: 5%;
 }
 

 .promo-title{
 	font-size: 40px;
 	font-weight:600;
 	margin-top: 100px; 
 }

 .play-btn{
 	width: 45px;
 	margin: 20px;
 }

 .navbar-nav li a{
 	color: #fff !important
 	font-weight:600;
 	float: right;
 }

 .navbar-toggler{
 	outline: none !important;
 }

/*services .btn-primary{
 	box-shadow: none;
 	padding: 8px 25px;
 	border: none;
 	border-radius: 20px;
 	background-image: linear-gradient(to right,#a517ba,#530566);

 }*/

 /*----------------services sec----------------*/

 #services{
 	padding: 80px 0;
 }

 .services{
 	padding: 20px;
 }

 .services h4{
 	padding: 5px;
 	margin-top: 25px; 
 	text-transform:uppercase; 
 }

 .title::before{
 	content: '';
 	background: #7b1798;
 	height: 5px;
 	width: 200px;
 	margin-left: auto;
 	margin-right: auto;
 	
 	transform: translateY(63px);
 	display: block;
 }

 .title::after{
 	content: '';
 	background: #7b1798;
 	height: 10px;
 	width: 50px;
 	margin-left: auto;
 	margin-right: auto;
 	margin-bottom: 40px;
 	transform: translateY(8px);
 	display: block;
 }


 /*-----------------about-us------*/

 #about-us{
 	background: #f8f9fa;
 	padding-bottom: 50px;
 	padding-top: 50px; 
 }

 .about-title{
 	font-size: 40px;
 	font-weight: 600;
 	margin-top: 8%;
 }

 #about-us ul li{
 	margin: 10px 0;
 }

 #about-us ul {
 	margin-left: 20px;
 }


 /*----------------------contact--------------*/

 #testimonials{
 	margin: 100px 0;
 }

 .testimonials {
 	border-left: 4px solid #7b1798;
 	margin-top: 50px;
 	margin-bottom: 50px;

 }

 .testimonials img{
 	height: 80px;
 	width: 80px;
 	border-radius: 70%;
 	margin: 0 10px;
 }

 .user-details{
 	display: inline-block;
 	font-size: 12px;
 }


 /*--------------social media-------------------*/


 #social-media{
 	background: #f8f9fa;
 	padding: 100px 0;
 }

 #social-media p{
 	font-size: 36px;
 	font-weight: 600;
 	margin-bottom: 30px;
 }

 .social-icons img{
 	width: 40px;
 	padding: 2px;
 	transition: 0.5s;
 }

 .social-icons a:hover img{
 	transform: translateY(-15px);
 }


 /*----------------footer----------------*/

 #footer{
 	/*background-image: linear-gradient(to left,#a517ba,#5f1782);*/
 	color: #fff;

 }

 .footer-img{
 	width: 100%;
 }

 .footer-box{
 	padding: 20px;

 }


 .footer-box img{
 	width: 50px;
 	height: 50px;
 	margin-bottom: 20px;	
 }